@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.notification-count {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 19px;
  top: 6px;
}

.dropdown-menu-notifications {
  width: 360px;
}

.dropdown-menu-notifications li {
  padding: 0px 0;
}

.dropdown-menu-notifications li a {
  padding: 12px 24px;
}

.dropdown-menu-notifications .divider {
  height: 1px;
  margin: 3px 0;
  overflow: hidden;
  background-color: #235e87;
}

.dropdown-menu-notifications .see-all-notifications {
  margin: 10px 0;
}

.dropdown-menu-notifications .see-all-notifications a {
  color: #ffffff !important;
}

.navbar-brand {
  margin-right: 30px;
}

.order-details {
  margin-bottom: 30px;
}

.dropdown-style {
  height: 34px;
  width: 100%;
  background: #508093;
  border: 1px solid #E5E6E7;
}

